html {
    scroll-behavior: smooth;
}

.text-primary {
    color: #8b8a91;
}

.text-info {
    color: #4f4f52;
}

.text-highlight {
    color: #fff;
}

.bg-body {
    background-color: #14131a;
}

.bg-btnHighlight {
    background-color: #2bd576;
}

.bg-cardPrimary {
    background-color: #1c1b23;
}